/* .jumbotron{
    background-color: rgb(2, 3, 59);
    color: white;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(2, 3, 59);
    color: white; 
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
  margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
}

.footer-addres-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}

.jum-imagen{
background-image: url('/imagenes/fondo.jpg'); 

background-repeat: no-repeat;
background-size: cover;
background-position: center;

} */