$yellow: #fcb000;


@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom
}

.jumbotron{
    background-color: $yellow;
    color: white;
    @include margenes(50px,0 )
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    color: white; 
    @include margenes(10px,0 )
    
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px,0 )
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
}

.footer-addres-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}

.jum-imagen{
background-image: url('/imagenes/fondo.jpg'); 

background-repeat: no-repeat;
background-size: cover;
background-position: center;

}