.jumbotron {
  background-color: #fcb000;
  color: white;
  margin-top: 50px;
  margin-bottom: 0; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fcb000;
  color: white;
  margin-top: 10px;
  margin-bottom: 0; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.jum-imagen {
  background-image: url("/imagenes/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
